@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');

:root {
  --primary-color: #0D9488;
}

.text-teal-600 {
  color: var(--primary-color);
}

.border-teal-600 {
  border: 1px solid var(--primary-color);
}

.bg-teal-600 {
  background-color: var(--primary-color);
}

.next-btn:hover {
  color: var(--primary-color)!important;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

.question-input:checked+.question-span {
  background-color: var(--primary-color);
  color: white;
}