@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');

:root {
  --primary-color: #0D9488;
}

.text-teal-600 {
  color: var(--primary-color);
}

.border-teal-600 {
  border: 1px solid var(--primary-color);
}

.bg-teal-600 {
  background-color: var(--primary-color);
}

.btn:hover {
  color: var(--primary-color);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

/* label.btn {
  padding: 0;
} */

/* label.btn input {
  opacity: 0;
  position: absolute;
}

label.btn span {
  text-align: center;
  padding: 6px 12px;
  display: block;
} */
/* 
label.question-input:checked + .question-span {
  background-color: var(--primary-color);
  color: #fff;
} */
